body {
  margin: 0;
}

.home {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 10rem;
  background-color: rgb(171, 171, 118);
  border-radius: 10px;
}

ul {
  list-style-type: none;
}
